* {
    box-sizing: border-box;
    background-color: rgb(167, 230, 246);
    font-family: "Montserrat Alternates", sans-serif;
  }
  
  body {
    height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: black;
    margin: 10px;
  }
  
  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  #indexImg {
    max-width: 100%;
  }
  
  img {
    width: 100%;
    max-height: auto;
  }
  
  #Title {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: "Fredericka the Great", cursive;
    font-size: 45px;
    color:rgb(98, 96, 96)
  }
  